.assetGrid {
  display: grid;

  gap: 8px;
  grid-template-columns: repeat(auto-fill, max(calc(8vw), 100px));
  
  grid-auto-rows: max(8vw, 100px);

  justify-content: center;
  overflow-y: scroll;

  padding: 0;
}

.assetGridItem {
  list-style: none;
  
}