.bench {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.resizable {
  resize: both;
  margin: 50px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.63);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.397);
}

.bench > svg {
  position: absolute;
  height: 100%;
  width: 100%;
}