.miniVolumeControl {
  background: rgba(0, 0, 0, 0.4);
  color: black;
  
  border: 1px solid white;
  border-radius: 1em;

  max-height: 1.5em;
  max-width: 1.5em;
  padding: 1em;

  overflow: hidden;
  display: flex;
  flex-direction: row;

  align-items: flex-end;
  opacity: 0.4;

  transition: all 0.5s;
}

.miniVolumeControl img {
  height: 1.5em;
  width: 1.5em;

  filter: invert(0);
  transition: filter 0.2s;
}

.miniVolumeControl input {
  width: 20em;
}

.miniVolumeControl:hover {
  background: rgb(255, 255, 255);
  border: 1px solid black;
  max-width: 30em;
  max-height: 30em;
  opacity: 1;
}
.miniVolumeControl:hover img {
  filter: invert(1);
}

.miniVolumeControlLabel {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}