.assetLibraryWindow {
  border: 1px solid black;

  position: relative;

  display: flex;
  flex-direction: row;

  flex-grow: 1;
}

.assetLibraryWindowContent {
  flex-basis: 0px;
  flex-grow: 2;
  overflow-y: auto;
}

.assetLibraryWindowEditor {
  flex-basis: 0px;
  flex-grow: 1;

  border-left: 1px solid black;
  overflow-y: auto;
}
