.fullscreenToggle {
  background: none;
  border: none;

  margin: 0;
  padding: 12px;

  opacity: 0.2;
  transform: scale(1);

  transition: all 0.2s;
  display: block;
  cursor: pointer;

  background-color: rgba(0, 0, 0, 0.466);
  border-radius: 100%;
}
.fullscreenToggle:hover {
  opacity: 1;
  transform: scale(1.05);
}

.fullscreenToggle img {
  display: block;
  width: 18px;
  height: 18px;
}