.attributeTagRoot {
  display: flex;
  flex-direction: row;

  align-items: center;
  margin: 4px;
}

.attributeTagRoot.left > .label {
  padding: 8px 32px 8px 24px;
}
.attributeTagRoot.right > .label {
  padding: 8px 24px 8px 32px;
}
.attributeTagRoot > .label {
  position: relative;
}

.attributeTagRoot.right > .value {
  margin: 0 -28px 0 0;
}
.attributeTagRoot.left > .value {
  margin: 0 0 0 -28px;
}

.attributeTagRoot > .value {
  padding: 16px;

  position: relative;
  z-index: 2;
  text-align: center;
}
