@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;300;400;500;700;900&display=swap');

.contentBorder {
  display: flex;
  flex-direction: column;

  align-items: center;

  position: relative;

  font-family: 'Crimson Pro', serif;
}

.titleContainer {
  position: absolute;
  top: 0px;
  right:  64px;
  left: 64px;
  z-index: 2;
}
.title {
  padding: 16px 32px 20px 32px;
  overflow-x: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  font-family: 'Roboto';
  margin: 0;
}

.titlePadding {
  height: 40px;
}

.description {
  width: 100%;
  font-size: 22px;
}
.descriptionContent {
  padding: 0px 48px 0px 48px;
}
.descriptionContent p {
  font-size: inherit;
}
.descriptionContent > blockquote {
  background-color: #e3e3e3;
  padding: 12px;
}
.descriptionContent > blockquote > p {
  margin: 0;
}
.magicItemRoot {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 22px;
}

.attributeColumn {
  position: absolute;
  top: 32px;

  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.attributeValue {
  font-weight: bold;
  text-transform: capitalize;
}
.attributeLabel {
  text-decoration: underline;
}
