.snackbarControl {
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;

  max-height: 12rem;

  background-color: rgba(125, 125, 125, 0.44);

  border-radius: 1rem;
  color: white;
  backdrop-filter: blur(10px);

  display: flex;
}

.snackbarCore {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.snackbarCenterControl {
  flex: 4;
  padding: 1rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, 4rem);
  grid-template-rows: repeat(2, 4rem);
  grid-auto-rows: 4rem;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  max-height: 280px;
  overflow: auto;
}
.snackbarLeftControl, .snackbarRightControl {
  flex: 1;
  min-width: 12rem;

  display: flex;
  flex-direction: column;

  overflow-y: auto;

  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 1rem;
}

.placementButton {
  display: flex;
  position: relative;
  padding: 0;
}

.placementButtonText {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s;
  opacity: 1;
}
.placementButton:hover .placementButtonText {
  opacity: 0.2;
}

.placementButtonIcon {
  width: 100%;
  height: 100%;

  transition: filter 0.2s;
  filter: blur(5px) contrast(30%);
}
.placementButton:hover .placementButtonIcon {
  filter: blur(0px) contrast(100%);
}