.tabbedToolbox {
  border: 1px solid black;
  min-height: 100%;
  box-sizing: border-box;
}
.tabbedToolbox > .content {
  padding: 16px;
}

.tabbedToolbox > menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgb(128, 179, 238);
  display: flex;
  flex-direction: row;
}

.jsonEditor {
  display: flex;
  flex-direction: column;
}
.jsonEditor > textarea {
  padding: 8px;
  resize: vertical;
  min-height: max-content;
}