.magicItemPage {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  position: relative;

  height: 100%;
  width: 100%;
}

.magicItemPageContent {
  max-width: 800px;
  padding: 64px;
  backdrop-filter: blur(10px);
  border-radius: 12px;

  background-color: rgba(255, 255, 255, 0.473);
}

@supports (backdrop-filter: blur(10px)) {
  .magicItemPageContent {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.253);
  }
}
