@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;900&display=swap');

.componentList {
  font-family: 'Martel Sans', sans-serif;
  display: flex;
  flex-direction: column;
  
  box-sizing: border-box;
  padding: 0 0 100% 0;
}