@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

.previewAppTitle {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 8px;
  background-color: #80b3ee;
  color: white;
  text-align: center;
}